a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: "Yantramanav", sans-serif;
  background-color: #141313;
}

footer {
  max-width: 100%;
}

.btn {
  background-color: transparent;
  border: solid 2px #C37500;
  border-radius: 18px;
  padding: 10px 5px 5px;
  color: #F5F5F5;
}

.btn:hover {
  color: #C37500;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px 50px 0px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 55px 40px 40px 0px;
}
.menu__link {
  color: #f5f5f5;
  text-decoration: none;
}
.menu__link:hover {
  color: #c37500;
}

.material-symbols-outlined {
  color: rgb(227, 227, 227);
}

.port {
  display: flex;
  margin: 90px 0px;
}

.redes {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 60px;
  left: 40px;
}

.newCar {
  display: flex;
  margin: 90px 0px;
}

.bg-mode {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  padding: 60px 60px;
}
.bg-mode:after {
  content: "";
  background-color: #b63636;
  width: 100px;
  height: 200px;
  z-index: -1;
  position: absolute;
  top: 45px;
  left: 61px;
}

.anchor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.anchor_color {
  color: white;
}

.positionButton {
  position: relative;
  top: 100px;
  left: 70px;
}

.interior {
  max-width: 100%;
  display: flex;
  margin: 50px 0px 110px 50px;
}
.interior__parrafo {
  text-align: start;
}

.bg-modesTop {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  padding: 60px 60px;
}
.bg-modesTop:after {
  content: "";
  background-color: #b63636;
  width: 110px;
  height: 60px;
  z-index: -1;
  position: absolute;
  top: 45px;
  right: 350px;
}

.positionButton2 {
  position: relative;
  left: 320px;
  top: 40px;
}

.text {
  margin-bottom: 50px;
}
.text__white {
  color: #f5f5f5;
}
.text__red {
  color: #b63636;
}
.text__size {
  font-size: 1.25rem;
  font-weight: 500;
}
.text__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text__img {
  width: 400px;
  height: 300px;
}

.info-main {
  padding-left: 210px;
  background-image: url(../img/Background-Icy-Mountains-Transparent-Background\ 1.png);
  background-size: 100%;
  opacity: 6.6;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.roted {
  position: relative;
  left: -70px;
  top: 220px;
  height: 40px;
  width: 420px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  transform: rotatez(270deg);
}

.bg-back {
  position: relative;
  padding: 60px 0;
}
.bg-back:after {
  content: "";
  max-width: 100%;
  width: 75%;
  height: 95.9%;
  background: #b63636;
  z-index: -1;
  position: absolute;
  top: 23px;
}
.bg-back__img {
  position: relative;
  left: -70px;
  bottom: -30px;
}

.info-2 {
  display: flex;
  margin: 100px 0px -100px 100px;
}

.bg-lines {
  position: relative;
  z-index: -1;
  bottom: 350px;
  left: 30px;
  height: 80%;
  width: 80%;
}

.position-left {
  position: relative;
  left: 80px;
  bottom: -90px;
}

.position-text {
  position: relative;
  bottom: 580px;
  right: -170px;
}

.block-cars {
  display: flex;
}

.btn:hover {
  color: #C37500;
}

.foot-2 {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  height: 395px;
  background-color: #b63636;
}
.foot-2__title {
  color: #f5f5f5;
  font-size: 0.9375rem;
  font-weight: 500;
}
.foot-2__principal {
  font-size: 1.125rem;
}

@media screen and (max-width: 900px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
  header {
    background-position: center;
  }
  .icons {
    justify-content: center;
  }
  .info-main {
    display: block;
    padding-right: 50px;
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .bg-back__img {
    left: 140px;
  }
  .bg-lines {
    left: 100px;
    bottom: 350px;
  }
  .position-text {
    bottom: 480px;
    right: -100px;
  }
  .foot-2 {
    display: block;
    text-align: center;
    padding-top: 40px;
  }
}
@media screen and (max-width: 500px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
  header {
    justify-content: center;
  }
  .icons {
    justify-content: space-around;
  }
  .info-main {
    display: block;
    padding-right: 50px;
  }
  .info-2 {
    display: block;
  }
  .bg-back__img {
    left: 5px;
    width: 70%;
  }
  .position-left {
    left: 20px;
  }
  .bg-lines {
    left: 70px;
    bottom: 200px;
  }
  .position-text {
    bottom: 180px;
    right: -100px;
  }
  .text-2 {
    width: 70%;
  }
  .foot-2 {
    display: block;
    text-align: center;
    padding-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
