//Mixin
@mixin flex_center {
  display: flex;
  align-items: center;
}

//Variable
$color_vino: #b63636;

.port{
  display: flex;
  margin: 90px 0px;
}


.redes{
  @include flex_center ;
  flex-direction: column;
  position: relative;
  top: 60px;
  left: 40px;
}

.newCar{
  display: flex;
  margin: 90px 0px;
}

.bg-mode {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  padding: 60px 60px;
  &:after {
    content: "";
    background-color: $color_vino;
    width: 100px;
    height: 200px;
    z-index: -1;
    position: absolute;
    top: 45px;
    left: 61px;
  }
}


.anchor{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  &_color{
    color: white;
  }
}


.positionButton{
  position: relative;
  top: 100px;
  left: 70px;
}


.interior{
  max-width: 100%;
  display: flex;
  margin: 50px 0px 110px 50px;

  &__parrafo{
    text-align: start;
  }
}

.bg-modesTop {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  padding: 60px 60px;
  &:after {
    content: "";
    background-color: $color_vino;
    width: 110px;
    height: 60px;
    z-index: -1;
    position: absolute;
    top: 45px;
    right: 350px;
  }
}

.positionButton2{
  position: relative;
  left: 320px;
  top: 40px;
}
