.text {
  &__white {
    color: #f5f5f5;
  }
  &__red {
    color: #b63636;
  }

  &__size {
    font-size: 1.25rem; //20px
    font-weight: 500;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tec {
    font-size: 1.25rem; //20px
    width: 500px;
  }

  &__img {
    width: 400px;
    height: 300px;
  }

  &__h1 {
    width: 400px;
    font-size: 2rem; //32px
  }

  &__desc {
    width: 160px;
  }
}

.bg-red {
  position: relative;
  padding: 60px 0;
  &:after {
    content: "";
    background-color: #b63636;
    width: 84px;
    height: 116px;
    z-index: -1;
    position: absolute;
    top: 25px;
  }
}

.info-2 {
  padding: 50px 50px 50px 0px;
  height: 400px;
  background-image: url(../img/calle.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 3.125rem;
}
