.block-mode {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;

  &__border {
    border: solid #c37500 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 20px;
  }
  &__size {
    width: 300px;
  }
}

.block-mode-second {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 30px 30px;
  width: 830px;
  padding-left: 230px;
}

.block-deportivo {
  padding-left: 400px;
  width: 600px;
}

.block-mode-three {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  margin: 70px 70px 70px;
}
