//Mixin
@mixin flex_align {
  display: flex;
  align-items: center;
}

@mixin flex_justify {
  display: flex;
  justify-content: center;
}

//Variables
$color_mostaza: #c37500;
$color_white: #f5f5f5; 


.icons{
  @include flex_align;
  justify-content: space-around;
  margin: 20px 0px 50px 0px;
}

.menu {
  @include flex_justify;
  gap: 20px;
  padding: 55px 40px 40px 0px;

  &__link {
    color: $color_white;
    text-decoration: none;
  }

  &__link:hover {
    color: $color_mostaza;
  }
}

.material-symbols-outlined {
  color: rgb(227, 227, 227);
}



