//Pantallas Grandes

@media screen and (max-width: 900px) {
  body{
    margin: 0 auto;
    width: 100%;
  }
  header{
    background-position: center;
  }
    .icons{
      justify-content: center;
    }
    .info-main{
      display: block;
      padding-right: 50px;
      width: 100%;
    }
    .text{
      width: 100%;
    }
    .bg-back__img{
      left: 140px;
    }
    .bg-lines{
      left: 100px;
      bottom: 350px;
    }
    .position-text{
      bottom: 480px;
    right: -100px;
    }
    .foot-2 {
      display: block;
      text-align: center;
      padding-top: 40px;
    }
}

@media screen and (max-width: 500px){
  body{
    margin: 0 auto;
    width: 100%;
  }
header{
  justify-content: center;
}
  .icons{
    justify-content: space-around;
  }
  .info-main{
    display: block;
    padding-right: 50px;
  
  }
  .info-2{
    display: block;
  }
  .bg-back__img{
    left: 5px;
    width: 70%;
  }
  .position-left{
    left: 20px;
  }
  .bg-lines{
    left: 70px;
    bottom: 200px;
  }
  .position-text{
    bottom: 180px;
    right: -100px;
  }
  .text-2{
    width: 70%;
  }
  .foot-2 {
    display: block;
    text-align: center;
    padding-top: 40px;
  }
}